
        * {
            margin: 0;
            padding: 0;
        }

        body, html {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        #start-wrap {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: url("img/start-background.png") 0 0 no-repeat;
            background-size: 100% 100%;
        }

        #loadingImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #gameLogo {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 78px;
            height: 68px;
            background: url("./img/prop.png") -78px 0 no-repeat;
        }

        #start {
            position: absolute;
            left: 30%;
            top: 80%;
            font-size: 30px;
            display: none;
            z-index: 1;
            width: 40%;
            color: #fff;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background: grey;
        }

        #gameOver {
            width: 100%;
            height: 100%;
            background: #000;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;
            position: absolute;
            top: 0;
        }

        #again {
            width: 120px;
            font-size: 20px;
            position: relative;
            top: 10%;
            color: #fff;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            background: darkred;
        }

        #result {
            width: 100%;
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: absolute;
            top: 10%;
        }

        #bomb {
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 63px;
            height: 49px;
            background: url("img/bomb.png") 0 0 no-repeat;
            text-align: right;
            font-size: 20px;
            color: red;
            font-weight: bold;
            display: none;
        }
    
